# Django development DB
*.sqlite3

# Python compiled files
*.pyc

# Bower packages
ipynbsrv/wui/static/bower_components

# LESS generated CSS
ipynbsrv/wui/static/css/main.css

# mkdocs output
ipynbsrv/wui/static/docs/user-guide/*
