<div class="modal fade" id="modal-create-image" tabindex="-1" role="dialog" aria-labelledby="modal-create-image" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">New image</h4>
            </div>
            <form role="form" action="{% url 'container_commit' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="ct_id">Base container</label>
                        <div class="select">
	                        <select id="ct_select" name="ct_id" class="form-control enableCaseInsensitiveFiltering" required>
	                            <option value="" selected>None</option>
	                            {% for c in containers %}
	                                <option value="{{ c.id }}"{% if c == selected %} selected {% endif %}>{{ c.name }}</option>
	                            {% endfor %}
	                        </select>
	                    </div>
                    </div>
                    <div class="form-group">
                        <label for="img_name">Name</label>
                        <input name="img_name" type="text" pattern="^[A-z][\w\/]*$" class="form-control" placeholder="e.g fhnw-maths " required>
                        <p class="help-block">Allowed pattern: ^[A-z][\w\/]*$</p>
                    </div>
                    <div class="form-group">
                        <label for="short_description">Short description</label>
                        <input name="short_description" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" class="form-control" rows="3" placeholder="..."></textarea>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label for="public">
                                <input type="checkbox" name="public" aria-describedby="modal-public_help"{% if share %} checked{% endif %}>
                                Make the image available to the public
                            </label>
                            <span id="modal-public_help" class="help-block">If chosen, other registered users are able to create containers based on this image.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
