//
// DataTables
// --------------------------
div.dataTables_filter label
{
    font-weight: bold !important;
}

.table > thead > tr > th
{
    border-bottom: 0 !important;
}

table.dataTable thead th
{
    border-bottom: 0 !important;
}

table.dataTable.no-footer
{
    border-bottom: 0 !important;
}

.dataTables_paginate .paginate_button
{
    margin-left: -1px !important;
    padding: 0 !important;
}
