{% extends "wui/base.html" %}

{% load staticfiles %}

{% block external_css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
<link rel="stylesheet" href="{% static "bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.css" %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% include "wui/snippets/messages.html" %}

        <h1>Shares</h1>
        <form role="form">
            <button type="button" class="btn btn-primary btn-create pull-right" data-toggle="modal" data-target="#modal-share-create">Create new</button>
        </form>

        {% if shares %}
        <div class="row shares-table">
            <div class="col-xs-12">
                <table class="table table-hover table-striped js-table-smart" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="20%">Name</th>
                            <th width="40%">Description</th>
                            <th width="12%">Membership</th>
                            <th width="13%">Tags</th>
                            <th width="15%" style="text-align: right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for share in shares %}
                        <tr data-id="{{ share.id }}">
                            <td>{{ share.name }}</td>
                            <td>{{ share.description }}</td>
                            <td>
                                {% if share.owner == request.user %}
                                    Owner
                                {% else %}
                                    Member
                                {% endif %}
                            </td>
                            <td>
                                {% for tag in share.tags.all %}
                                    <span class="label label-default">{{ tag.label }}</span>
                                {% endfor %}
                            </td>
                            <td style="text-align: right">
                                {% if share.owner == request.user %}
                                    <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-share-adduser" title="Add new members" data-tooltip>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                    <a href="/share/manage/{{ share.id }}" class="btn btn-sm btn-default" title="Manage members" data-tooltip>
                                        <i class="glyphicon glyphicon-th-list"></i>
                                    </a>
                                    <form action="{% url 'share_delete' %}" method="POST" role="form" class="form-action">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ share.id }}">
                                        <button class="btn btn-sm btn-danger" title="Delete this share?" data-toggle="confirmation" data-placement="left">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'share_leave' %}" method="POST" role="form" class="form-action">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ share.id }}">
                                        <button class="btn btn-sm btn-warning" title="Leave this share?" data-toggle="confirmation" data-placement="left">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="alert alert-info">You have no shares yet.</div>
        {% endif %}

        {% include "wui/shares/modal_adduser.html" %}
        {% include "wui/shares/modal_create.html" %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="{% static "bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js" %}"></script>
<script src="{% static "bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.js" %}"></script>
<script>
$(function() {
    $('[data-tooltip]').tooltip();
    $('[data-toggle="confirmation"]').confirmation({
        popout: true
    });
    $('#tags, #users').tagsInput({
        width:              '100%',
        height:             '40px',
        defaultText:        '',
        removeWithBackspace: true
    });
    $('.js-table-smart').dataTable({
        columnDefs: [{
            aTargets:    [ 4 ],
            bSearchable: false,
            bSortable:   false
        }]
    });

    $('[data-toggle="modal"]').click(function (e) {
        var btn   = $(e.target);
        var modal = btn.data('target');

        switch (modal) {
            case "#modal-share-adduser": {
                var id = btn.closest('tr').data('id');
                $('' + modal).find('#modal-share-adduser_id').val(id);
                break;
            }
        }
    });
});
</script>
{% endblock %}
