{% extends "wui/base.html" %}

{% block title %} - Containers{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% include "wui/snippets/messages.html" with messages=messages only %}

        <h1>Containers</h1>
        <form role="form">
            <button type="button" class="btn btn-primary btn-create pull-right" data-toggle="modal" data-target="#modal-create-container" {% if not images %}disabled{% endif %}>Create new</button>
        </form>

        {% include "wui/snippets/container_grid.html" with containers=containers csrf_token=csrf_token only %}
        {% include "wui/containers/modal_create.html" with images=images csrf_token=csrf_token only %}
    </div>
</div>
{% endblock %}
