{% if containers %}
<div class="row container-grid">
   {% for ct in containers %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        {% if ct.is_running %}
            {% if ct.is_suspended %}
                <div class="panel panel-warning panel-container">
            {% else %}
                <div class="panel panel-success panel-container">
            {% endif %}
        {% else %}
            <div class="panel panel-danger panel-container">
        {% endif %}
            <div class="panel-heading">{{ ct.name }}</div>
            <div class="panel-body">
                {{ ct.description }}
            </div>
            {% if ct.is_running and ct.port_mappings %}
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Internal</th>
                        <th width="50%">External</th>
                    </tr>
                </thead>
                <tbody>
                    {% for port_mapping in ct.port_mappings %}
                        {% if not port_mapping.is_protected_mapping %}
                        <tr>
                            <td>{{ port_mapping.internal_port }}</td>
                            <td>{{ ct.server.external_ip }}:{{ port_mapping.external_port }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <div class="panel-footer">
                <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle" type="button" id="actions-container_{{ ct.id }}" data-toggle="dropdown" aria-expanded="true">
                    Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="actions-container_1">
                        {% if ct.is_running %}
                            {% if ct.backend_base_url %}
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('connect-{{ ct.id }}').getElementsByTagName('button')[0].click();">Connect</a>
                                    <form id="connect-{{ ct.id }}" action="{{ ct.backend_base_url }}" method="GET" target="_blank" role="form">
                                        {% csrf_token %}
                                        <button type="submit"></button>
                                    </form>
                                </li>
                            {% endif %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('stop-{{ ct.id }}').getElementsByTagName('button')[0].click();">Stop</a>
                                <form id="stop-{{ ct.id }}" action="{% url 'container_stop' %}" method="POST" role="form">
                                    {% csrf_token %}
                                    <input name="id" type="hidden" value="{{ ct.id }}">
                                    <button type="submit"></button>
                                </form>
                            </li>
                            {% if ct.is_suspended %}
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('resume-{{ ct.id }}').getElementsByTagName('button')[0].click();">Resume</a>
                                    <form id="resume-{{ ct.id }}" action="{% url 'container_resume' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input name="id" type="hidden" value="{{ ct.id }}">
                                        <button type="submit"><button>
                                    </form>
                                </li>
                            {% else %}
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('restart-{{ ct.id }}').getElementsByTagName('button')[0].click();">Restart</a>
                                    <form id="restart-{{ ct.id }}" action="{% url 'container_restart' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input name="id" type="hidden" value="{{ ct.id }}">
                                        <button type="submit"><button>
                                    </form>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('suspend-{{ ct.id }}').getElementsByTagName('button')[0].click();">Suspend</a>
                                    <form id="suspend-{{ ct.id }}" action="{% url 'container_suspend' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input name="id" type="hidden" value="{{ ct.id }}">
                                        <button type="submit"><button>
                                    </form>
                                </li>
                            {% endif %}
                        {% else %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('start-{{ ct.id }}').getElementsByTagName('button')[0].click();">Start</a>
                                <form id="start-{{ ct.id }}" action="{% url 'container_start' %}" method="POST" role="form">
                                    {% csrf_token %}
                                    <input name="id" type="hidden" value="{{ ct.id }}">
                                    <button type="submit"></button>
                                </form>
                            </li>
                        {% endif %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('delete-{{ ct.id }}').getElementsByTagName('button')[0].click();" title="Delete this container?{% if ct.has_clones %} All clones will be deleted as well.{% endif %}" data-toggle="confirmation" data-placement="bottom">Delete</a>
                            <form id="delete-{{ ct.id }}" action="{% url 'container_delete' %}" method="POST" role="form">
                                {% csrf_token %}
                                <input name="id" type="hidden" value="{{ ct.id }}">
                                <button type="submit"></button>
                            </form>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('clone-{{ ct.id }}').getElementsByTagName('button')[0].click();">Clone</a>
                            <form id="clone-{{ ct.id }}" action="{% url 'container_clone' %}" method="POST" role="form">
                                {% csrf_token %}
                                <input name="id" type="hidden" value="{{ ct.id }}">
                                <button type="submit"></button>
                            </form>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'container_snapshots' ct.id %}">Snapshots</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'images' %}?share=1&amp;ct={{ ct.id }}">Share</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   {% endfor %}
</div>
{% else %}
    <div class="alert alert-info">You have no containers.</div>
{% endif %}
