{% load settings %}

<nav class="navbar navbar-static-top ipynbsrv-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ipynbsrv</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/containers">Containers</a></li>
                <li><a href="/images">Images</a></li>
                <li><a href="/shares">Shares</a></li>
                <li><a href="/groups">Groups</a></li>
                <li><a href="/notifications">Notifications</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="hidden-xs"><a href="" data-tooltip data-placement="bottom" title="Settings" target="_blank">
                    <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                </a></li>
                <li class="hidden-xs"><a href="" data-tooltip data-placement="bottom" title="User Guide" target="_blank">
                    <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>
                </a></li>
                <li class="hidden-xs"><a href="" data-tooltip data-placement="bottom" title="My publications" target="_blank">
                    <i class="glyphicon glyphicon-globe" aria-hidden="true"></i>
                </a></li>
                <li class="hidden-xs"><a href="/accounts/logout" data-tooltip data-placement="bottom" title="Logout">
                    <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
                </a></li>


                <li class="hidden-sm hidden-md hidden-lg">
                    <a href="" title="Settings" target="_blank">Settings</a>
                </li>

                <li class="hidden-sm hidden-md hidden-lg">
                    <a href="" title="User Guide" target="_blank">Use Guide</a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg">
                    <a href="" title="My publications" target="_blank">My publications</a>
                </li>
                <li class="hidden-sm hidden-md hidden-lg">
                    <a href="/accounts/logout" title="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>