{% extends 'web/base.html' %}

{% load staticfiles %}

{% block external_css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/datatables-plugins-bootstrap3/dist/css/datatables-plugins-bootstrap3.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% include 'web/snippets/messages.html' with messages=messages only %}

        <h1>Share</h1>
        <table class="table table-hover table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 25%">Property</th>
                    <th style="width: 75%">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ share.name }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ share.description }}</td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>
                        {% for tag in share.tags.all %}
                            <span class="label label-default">{{ tag.label }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Shared with...</h2>
        <form role="form">
            <button type="button" class="btn btn-primary btn-create pull-right" data-toggle="modal" data-target="#modal-share-adduser">
                Add new
            </button>
        </form>
        <table class="table table-hover table-striped js-table-smart" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 75%">Member</th>
                    <th style="width: 25%; text-align: right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for group in access_groups %}
                <tr>
                    <td>{{ member.username }}{% if member == request.user %} <span class="label label-info">That's you!</span>{% endif %}</td>
                    <td style="text-align: right">
                        {% if member.backend_user.id != share.owner %}
                            <form action="{% url 'share_remove_user' %}" method="POST" role="form" class="form-action">
                                {% csrf_token %}
                                <input type="hidden" name="share_id" value="{{ share.id }}">
                                <input type="hidden" name="user_id" value="{{ member.id }}">
                                <button class="btn btn-sm btn-danger" title="Remove from share?" data-toggle="confirmation" data-placement="left">
                                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'web/shares/modal_adduser.html' with id=share.id origin='manage' csrf_token=csrf_token only %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables-plugins-bootstrap3/dist/js/datatables-plugins-bootstrap3.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.js' %}"></script>
<script>
$(function () {
    $('[data-toggle="confirmation"]').confirmation({
        popout: true
    });

    $('#users').tagsInput({
        width: '100%',
        height: 'auto',
        defaultText: '',
        removeWithBackspace: true
    });

    $('.js-table-smart').dataTable({
        columnDefs: [{
            aTargets: [ 1 ],
            bSearchable: false,
            bSortable: false
        }]
    });
});
</script>
{% endblock %}
