{% extends 'web/base.html' %}

{% load staticfiles %}

{% block external_css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/datatables-plugins-bootstrap3/dist/css/datatables-plugins-bootstrap3.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% include 'web/snippets/messages.html' with messages=messages only %}

        <h1>Share</h1>
        {% if request.user.backend_user.id == share.owner.id %}
        <form action="{% url 'share_delete' %}" method="POST" role="form">
            {% csrf_token %}
            <input type="hidden" name="share_id" value="{{ share.id }}">
            <button class="btn btn-danger btn-delete pull-right" title="Delete this share?" data-toggle="confirmation" data-placement="bottom">Delete Share
            </button>
        </form>
        {% endif %}
        <table class="table table-hover table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 25%">Property</th>
                    <th style="width: 75%">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ share.name }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ share.description }}</td>
                </tr>
                <tr>
                    <td>Owner</td>
                    <td>{{ share.owner.username }}{% if share.owner.id == request.user.backend_user.id %} <span class="label label-info">That's you!</span>{% endif %}</td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>
                        {% for tag in share.tags %}
                            <span class="label label-default">{{ tag.label }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Shared with...</h2>
        <form role="form">
            <button type="button" class="btn btn-primary btn-adduser pull-right" data-toggle="modal" data-target="#modal-share-adduser">
                Add user
            </button>
        </form>
        <form role="form">
            <button type="button" class="btn btn-primary btn-addgroup pull-right" data-toggle="modal" data-target="#modal-share-addgroup">
                Add group
            </button>
        </form>
        <table class="table table-hover table-striped js-table-smart" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 75%">Member</th>
                    <th style="width: 25%; text-align: right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for group in share.access_groups %}
                <tr>
                    <td><a href="{% url 'group_manage' group.id %}">{{ group.name }}</a></td>
                    <td style="text-align: right">
                    {% if request.user.backend_user.id == share.owner.id %}
                        {% if member.backend_user.id != share.owner %}
                            <form action="{% url 'share_remove_access_group' %}" method="POST" role="form" class="form-action">
                                {% csrf_token %}
                                <input type="hidden" name="share_id" value="{{ share.id }}">
                                <input type="hidden" name="access_group" value="{{ group.id }}">
                                <button class="btn btn-sm btn-danger" title="Remove from share?" data-toggle="confirmation" data-placement="left">
                                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}

                {% for user in users %}
                {% if user.backend_user.collab_group in share.access_groups %}
                    <tr>
                        <td><a href="{% url 'group_manage' user.backend_user.collab_group.id %}">{{ user.backend_user.collab_group.name }}</a></td>
                        <td style="text-align: right">
                        {% if request.user.backend_user.id == share.owner.id %}
                            {% if member.backend_user.id != share.owner %}
                                <form action="{% url 'share_remove_access_group' %}" method="POST" role="form" class="form-action">
                                    {% csrf_token %}
                                    <input type="hidden" name="share_id" value="{{ share.id }}">
                                    <input type="hidden" name="access_group" value="{{ user.backend_user.collab_group.id }}">
                                    <button class="btn btn-sm btn-danger" title="Remove from share?" data-toggle="confirmation" data-placement="left">
                                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% include 'web/shares/modal_addusers.html' with id=share.id users=users share=share origin='manage' csrf_token=csrf_token only %}
        {% include 'web/shares/modal_addgroups.html' with id=share.id groups=groups share=share origin='manage' csrf_token=csrf_token only %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables-plugins-bootstrap3/dist/js/datatables-plugins-bootstrap3.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.js' %}"></script>
<script>
$(function () {
    $('[data-toggle="confirmation"]').confirmation({
        popout: true
    });

    $('#users').tagsInput({
        width: '100%',
        height: 'auto',
        defaultText: '',
        removeWithBackspace: true
    });

    $('.js-table-smart').dataTable({
        columnDefs: [{
            aTargets: [ 1 ],
            bSearchable: false,
            bSortable: false
        }]
    });
});
</script>
{% endblock %}
