.-navbar {
  margin-bottom: 30px;
  background-color: #3465a4;
}
.-navbar a {
  color: #fff;
}
.-navbar .nav > li.active > a,
.-navbar .nav > li > a:hover,
.-navbar .nav > li > a:focus {
  background-color: #517DB7;
}
.-navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
