{% extends 'web/base.html' %}

{% load staticfiles %}

{% block external_css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/datatables-plugins-bootstrap3/dist/css/datatables-plugins-bootstrap3.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 ">
        {% include 'web/snippets/messages.html' with messages=messages only %}

        <h1>Group</h1>
        <fieldset class="btn-create pull-right">
        {% if request.user.backend_user.id in group.admins or request.user.backend_user.id == group.creator.id %}
            <form action="{% url 'group_delete' %}" method="POST" role="form">
                {% csrf_token %}
                <input type="hidden" name="group_id" value="{{ group.id }}">
                <button class="btn btn-danger" title="Delete this group?" data-toggle="confirmation" data-placement="bottom">Delete Group
                </button>
            </form>
            {% endif %}
            {% if request.user.backend_user.id not in group.member_ids and group.is_public %}
            <form action="{% url 'group_join' %}" method="POST" role="form">
                {% csrf_token %}
                <input type="hidden" name="group_id" value="{{ group.id }}">
                <button class="btn btn-primary" title="Join this public group?" data-toggle="confirmation" data-placement="bottom">Join Group
                </button>
            </form>
            {% endif %}
            {% if request.user.backend_user.id in group.member_ids and request.user.backend_user.id != group.creator.id and group.creator %}
            <form action="{% url 'group_leave' %}" method="POST" role="form">
                {% csrf_token %}
                <input type="hidden" name="group_id" value="{{ group.id }}">
                <button class="btn btn-warning" title="Leave this public group?" data-toggle="confirmation" data-placement="bottom">Leave Group
                </button>
            </form>
        {% endif %}
        </fieldset>

        <table class="table">
            <thead>
                <tr>
                    <th style="width: 25%">Property</th>
                    <th style="width: 75%">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name:</td><td>{{ group.name }}</td>
                </tr><tr>
                    <td>Creator:</td><td>{{ group.creator.username }}{% if group.creator.id == request.user.backend_user.id %} <span class="label label-info">That's you!</span>{% endif %}</td>
                </tr><tr>
                    <td>Public:</td><td>{{ group.is_public }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Members</h2>
        {% if request.user.backend_user.id in group.admins or request.user.backend_user.id == group.creator.id %}
        <form role="form">
            <button type="button" class="btn btn-primary btn-create pull-right" data-toggle="modal" data-target="#modal-group-addusers">Add Users</button>
        </form>
        {% endif %}
        <table class="table table-hover table-striped js-table-smart" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 75%">Member</th>
                    <th style="width: 25%; text-align: right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.username }}
                    {% if member.id == request.user.backend_user.id %} <span class="label label-info">That's you!</span>{% endif %}
                    {% if member.id in group.admins %} <span class="label label-info">Admin</span>{% endif %}
                    {% if member.id == group.creator.id %} <span class="label label-info">Creator</span>{% endif %}</td>
                    <td style="text-align: right">
                    {% if request.user.backend_user.id != group.creator.id and group.creator and request.user.backend_user.id == member.id %}
                    <form action="{% url 'group_leave' %}" method="POST" role="form" class="form-action">
                        {% csrf_token %}
                        <input type="hidden" name="group_id" value="{{ group.id }}">
                        <input type="hidden" name="user_id" value="{{ request.user.id }}">
                        <button class="btn btn-sm btn-warning" title="Leave group?" data-toggle="confirmation" data-placement="left">
                            <i class="glyphicon glyphicon-minus-sign" aria-hidden="true"></i>
                        </button>
                    </form>
                    {% endif %}
                    {% if request.user.backend_user.id in group.admins or request.user.backend_user.id == group.creator.id %}
                        {% if member.id != group.creator.id %}
                            <form action="{% url 'group_remove_member' %}" method="POST" role="form" class="form-action">
                                {% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ group.id }}">
                                <input type="hidden" name="user_id" value="{{ member.django_user.id }}">
                                <button class="btn btn-sm btn-danger" title="Remove from group?" data-toggle="confirmation" data-placement="left">
                                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                </button>
                            </form>
                        {% endif %}
                        {% if member.id not in group.admins and member.id != group.creator.id %}
                        <form action="{% url 'group_add_admin' %}" method="POST" role="form" class="form-action">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ group.id }}">
                            <input type="hidden" name="user_id" value="{{ member.django_user.id }}">
                            <button class="btn btn-sm btn-success" title="Make group admin?" data-toggle="confirmation" data-placement="left">
                                <i class="glyphicon glyphicon glyphicon-king" aria-hidden="true"></i>
                            </button>
                        </form>
                        {% endif %}
                        {% if member.id in group.admins and member.id != group.creator.id %}
                        <form action="{% url 'group_remove_admin' %}" method="POST" role="form" class="form-action">
                            {% csrf_token %}
                            <input type="hidden" name="group_id" value="{{ group.id }}">
                            <input type="hidden" name="user_id" value="{{ member.django_user.id }}">
                            <button class="btn btn-sm btn-warning" title="Remove from group admins?" data-toggle="confirmation" data-placement="left">
                                <i class="glyphicon glyphicon glyphicon-king" aria-hidden="true"></i>
                            </button>
                        </form>
                        {% endif %}

                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'web/collaborationgroups/modal_addusers.html' with users=users origin='manage' group=group csrf_token=csrf_token only %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables-plugins-bootstrap3/dist/js/datatables-plugins-bootstrap3.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.js' %}"></script>
<script>
$(function () {
    $('[data-toggle="confirmation"]').confirmation({
        popout: true
    });

    $('#users').tagsInput({
        width: '100%',
        height: 'auto',
        defaultText: '',
        removeWithBackspace: true
    });

    $('.js-table-smart').dataTable({
        columnDefs: [{
            aTargets: [ 1 ],
            bSearchable: false,
            bSortable: false
        }]
    });
});
</script>
{% endblock %}
