django==1.7.1
# http://stackoverflow.com/questions/6857680/django-auth-ldap-no-module-named-ldap
# apt-get install python-dev libldap2-dev libsasl2-dev libssl-dev
django-auth-ldap
django-ifnav-templatetag==1.1
django-ldapdb==0.3.2
django-widget-tweaks==1.3
docker-py==0.6.0
# apt-get install python-psycopg2
# psycopg2
