{% extends 'web/base.html' %}

{% load staticfiles %}

{% block external_css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/datatables-plugins-bootstrap3/dist/css/datatables-plugins-bootstrap3.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% include 'web/snippets/messages.html' with messages=messages only %}

        <h1>Notifications</h1>
        <form role="form">
            <button type="button" class="btn btn-primary btn-create pull-right" data-toggle="modal" data-target="#modal-notification-create">Create new</button>
        </form>

        {% if notifications %}
        <table id="notifications-table" class="table table-hover table-striped js-table-smart" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="20%">Date</th>
                    <th width="20%">Sender</th>
                    <th width="20%">Message</th>
                    <th width="15%">Type</th>
                    <th width="10%">Read</th>
                    <th width="15%" style="text-align: right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for n in notifications %}
                <tr data-id="{{ n.id }}" {% if not n.read %} class="unread" {% endif %}>
                    <td>{{ n.date | date:"d.m.Y, H:i" }}</td>
                    <td>{{ n.notification.sender.username }}</td>
                    <td>{{ n.notification.message }}</td>
                    <td>{% if n.notification.url_slug %}<a href="{{ n.notification.url_slug }}">{{ n.notification.notification_type }}</a>{% else %}{{ n.notification.notification_type }}{% endif %}</td>
                    <td>{{ n.read }}</td>
                    <td>
                        <form action="{% url 'notification_mark_as_read' %}" method="POST" role="form" class="form-action">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ n.id }}">
                            <button class="btn btn-sm btn-success" title="Mark as read" data-placement="left" {% if n.read %} disabled {% endif %}>
                                <i class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></i>
                            </button>
                        </form>
                        <form action="{% url 'notification_delete' %}" method="POST" role="form" class="form-action">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ n.id }}">
                            <button class="btn btn-sm btn-danger" title="Delete notification?" data-toggle="confirmation" data-placement="left">
                                <i class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-info">You have no notifications yet.</div>
        {% endif %}

        {% include 'web/notifications/modal_create.html' with groups=groups notification_types=notification_types containers=containers container_images=container_images shares=shares csrf_token=csrf_token only %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables-plugins-bootstrap3/dist/js/datatables-plugins-bootstrap3.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-tagsinput-jurgen/jquery.tagsinput.js' %}"></script>
<script>
$(function () {
    $('[data-toggle="confirmation"]').confirmation({
        popout: true
    });

    var table = $('.js-table-smart');
    table.dataTable({
        ordering: false,
        "search": {
            "search": "False"
          },

        columnDefs: [{
            aTargets: [ 0, 5 ],
            bSearchable: true,
        }]
    });

});
</script>
{% endblock %}
