<div class="modal fade" id="modal-notification-create" tabindex="-1" role="dialog" aria-labelledby="modal-notification-create" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New notification</h4>
            </div>
            <form action="{% url 'notification_create' %}" method="POST" role="form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="receiver_groups">Receiver Groups</label>
                        <select class="form-control" name="receiver_groups">
                            <option></option>
                            {% for group in groups %}
                
                                <option value="{{ group.id }}">{{ group.name }}</option>

                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="type">Notification type</label>
                        <select class="form-control" name="notification_type">
                            <option></option>
                            {% for n1, n2 in notification_types %}
                                <option value="{{ n1 }}">{{ n2 }}</option>

                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="type">Container</label>
                        <select class="form-control" name="container">
                            <option></option>
                            {% for c in containers %}
                                <option value="{{ c.id }}">{{ c.name }}</option>

                            {% endfor %}
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="type">Container Image</label>
                        <select class="form-control" name="container_image">
                            <option></option>
                            {% for ci in container_images %}
                                <option value="{{ ci.id }}">{{ ci.name }}</option>

                            {% endfor %}
                        </select>

                    </div>


                    <div class="form-group">
                        <label for="type">Group</label>
                        <select class="form-control" name="group">
                            <option></option>
                            {% for g in groups %}
                                <option value="{{ g.id }}">{{ g.name }}</option>

                            {% endfor %}
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="type">Share</label>
                        <select class="form-control" name="share">
                            <option></option>
                            {% for s in shares %}
                                <option value="{{ s.id }}">{{ s.name }}</option>

                            {% endfor %}
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" rows="5" placeholder="..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
