{% extends "wui/base.html" %}

{% load staticfiles %}

{% block title %} - Images{% endblock %}

{% block external_css %}
<link rel="stylesheet" href="{% static 'bower_components/datatables/media/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/datatables-plugins-bootstrap3/dist/css/datatables-plugin-bootstrap3.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Images</h1>
        <form role="form">
            <button id="modal-create-image_button" type="button" class="btn btn-primary btn-create pull-right" data-toggle="modal" data-target="#modal-create-image">Create new</button>
        </form>

        {% if images %}
        <div class="row shares-table">
            <div class="col-xs-12">
                <table class="table table-hover table-striped js-table-smart" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="25%">Name</th>
                            <th width="55%">Description</th>
                            <th width="10%" style="text-align: center">Public</th>
                            <th width="10%" style="text-align: right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for img in images %}
                        <tr>
                            <td>{{ img.name }}</td>
                            <td>{{ img.description }}</td>
                            <td style="text-align: center"><input type="checkbox" data-sort="1" {% if img.is_public %}checked{% endif %}></td>
                            <td>
                                {% if img.owner == request.user %}
                                <form action="{% url 'image_delete' %}" method="POST" class="pull-right" role="form">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ img.id }}">
                                    <button type="submit" class="btn btn-sm btn-danger" title="Delete this image?" data-toggle="confirmation" data-placement="left">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <div class="alert alert-info">You do not have access to any images yet.</div>
        {% endif %}

        {% include "wui/images/modal_create.html" %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables-plugins-bootstrap3/dist/js/datatables-plugin-bootstrap3.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-confirmation2/bootstrap-confirmation.min.js' %}"></script>
<script>
function createCookie (name, value, days) {
    var expires;
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires="+date.toGMTString();
    } else{
        expires = "";
    }
    document.cookie = name + "=" + value + expires + "; path=/";
}

function eraseCookie (name) {
    createCookie(name, "", -1);
}

function readCookie (name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; ++i) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1, c.length);
        }
        if (c.indexOf(nameEQ) === 0) {
            return c.substring(nameEQ.length,c.length);
        }
    }

    return null;
}

$(function () {
    $('[data-toggle="confirmation"]').confirmation({
        popout: true
    });

    $('.js-table-smart').dataTable({
        columnDefs: [{
            aTargets: [ 3 ],
            bSearchable: false,
            bSortable: false
        }]
    });

    var x = readCookie('share');
    var y = readCookie('public');
    if (x) {
        if(y) {
            $('#modal-create-image_public').attr('checked', true);
        } else {
            $('#modal-create-image_public').attr('checked', false);
        }
        $('#modal-create-image_ct-name').val(x);
        $("#modal-create-image_button").click();
        eraseCookie('share');
        eraseCookie('public');
    }
});
</script>
{% endblock %}
