{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
    <title>ipynbsrv{% if title %} - {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    {% block external_css %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block css %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
$(function () {
    $('[data-tooltip]').tooltip();
});
</script>
{% block js %}{% endblock %}
</html>
