{% extends "wui/base.html" %}

{% block title %} - Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% include "wui/snippets/messages.html" with messages=messages only %}

        <h1>Dashboard</h1>
        <div class="dashboard-box">
            <blockquote>
                <p>Welcome back {{ user.get_username }}!</p>
            </blockquote>
        </div>

        <h2>Running containers</h2>
        {% include "wui/snippets/container_grid.html" with containers=containers csrf_token=csrf_token only %}
    </div>
</div>
{% endblock %}
