{% extends "wui/base.html" %}

{% block title %} - Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Dashboard</h1>
        <div class="dashboard-box">
            <p><strong>Welcome back {{ user.username }}</strong></p>
            <p>You have no pending invitations. Good :)</p>
        </div>
        <h2>Running containers</h2>
        {% if containers %}
        <div class="row container-grid">
            {% for c in containers %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="panel panel-success panel-container">
                <div class="panel-heading">{{ c.name }}</div>
                    <div class="panel-body">
                        {{ c.description }}
                    </div>
                    <div class="panel-footer">
                        <div class="dropdown">
                            <button class="btn btn-default btn-block dropdown-toggle" type="button" id="actions-container_1" data-toggle="dropdown" aria-expanded="true">
                            Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="actions-container">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('connect-{{ c.ct_id }}').getElementsByTagName('button')[0].click();">Connect</a>
                                    <form id="connect-{{ c.ct_id }}" action="/workspace/{{ c.exposeport }}/" method="GET" target="_blank" role="form">
                                        {% csrf_token %}
                                        <button type="submit"></button>
                                    </form>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('stop-{{ c.ct_id }}').getElementsByTagName('button')[0].click();">Stop</a>
                                    <form id="stop-{{ c.ct_id }}" action="{% url 'container_stop' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input name="id" type="hidden" value="{{ c.ct_id }}">
                                        <button type="submit"></button>
                                    </form>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('restart-{{ c.ct_id }}').getElementsByTagName('button')[0].click();">Restart</a>
                                    <form id="restart-{{ c.ct_id }}" action="{% url 'container_restart' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input name="id" type="hidden" value="{{ c.ct_id }}">
                                        <button type="submit"></button>
                                    </form>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('delete-{{ c.ct_id }}').getElementsByTagName('button')[0].click();">Delete</a>
                                    <form id="delete-{{ c.ct_id }}" action="{% url 'containers_delete' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input name="id" type="hidden" value="{{ c.ct_id }}">
                                        <button type="submit"></button>
                                    </form>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('clone-{{ c.ct_id }}').getElementsByTagName('button')[0].click();">Clone</a>
                                    <form id="clone-{{ c.ct_id }}" action="{% url 'containers_clone' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input name="name" type="hidden" value="{{ c.name }}">
                                        <input name="id" type="hidden" value="{{ c.ct_id }}">
                                        <button type="submit"></button>
                                    </form>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('backup-{{ c.ct_id }}').getElementsByTagName('button')[0].click();">Backup</a>
                                    <form id="backup-{{ c.ct_id }}" action="{% url 'containers_share' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input type="hidden" id="modal-create-image_share" name="share" value="{{ c.name }}">
                                        <button type="submit" value="backup" data-toggle="modal2" data-target="#modal-image-create"></button>
                                    </form>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('share-{{ c.ct_id }}').getElementsByTagName('button')[0].click();">Share</a>
                                    <form id="share-{{ c.ct_id }}" action="{% url 'containers_share' %}" method="POST" role="form">
                                        {% csrf_token %}
                                        <input type="hidden" id="modal-create-image_share" name="share" value="{{ c.name }}">
                                        <button type="submit" value="share" data-toggle="modal3" data-target="#modal-image-create"></button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-info">You have no running containers.</div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
function createCookie (name, value, days) {
    var expires;
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires="+date.toGMTString();
    } else {
        expires = "";
    }
    document.cookie = name + "=" + value + expires + "; path=/";
}

$(function () {
    $('[data-toggle="modal2"]').click(function (e) {
        var val = $('#modal-create-image_share').val();
        createCookie('share', val , 1);
    });
    $('[data-toggle="modal3"]').click(function (e) {
        var val = $('#modal-create-image_share').val();
        createCookie('share', val , 1);
        createCookie('public', '1' , 1);
    });
});
</script>
{% endblock %}
