{% extends "wui/base.html" %}

{% load staticfiles %}

{% block title %} - Images{% endblock %}

{% block external_css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Images</h1>
        <form role="form">
            <button id="modal-create-image_button" type="button" class="btn btn-primary btn-create pull-right" data-toggle="modal" data-target="#modal-create-image">Create new</button>
        </form>

        <!-- modal -->
        <div class="modal fade" id="modal-create-image" tabindex="-1" role="dialog" aria-labelledby="modal-create-image" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">New image</h4>
                    </div>
                    <form role="form" action="{% url 'image_commit' %}" method="POST">
                        {% csrf_token %}
			<div class="modal-body">
                            <div class="form-group">
                                <label for="modal-base">Base container</label>
                                <select id="modal-create-image_ct-name" name="ct_name" class="form-control" id="modal-base" required>
                                    <option></option>
                                    {% for c in conts %}
				    <option>{{ c.name }}</option>
				    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="modal-name">Name</label>
                                <input name="name"  type="text" class="form-control" id="modal-name" placeholder="e.g fhnw-maths " required>
                            </div>
                            <div class="form-group">
                                <label for="modal-description">Description</label>
                                <textarea id="modal-create-image_desc" name="description" class="form-control" rows="3" placeholder="..."></textarea>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="modal-public">
                                        <input id="modal-create-image_public" type="checkbox" name="public" id="modal-public" value="True" aria-describedby="modal-public_help">
                                        Make the image available to the public
                                    </label>
                                    <span id="modal-public_help" class="help-block">If chosen, other registered users are able to create containers based on this image.</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal -->

        <div class="row shares-table">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-smart" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="25%">Name</th>
                                <th width="55%">Description</th>
                                <th width="10%" style="text-align: center">Public</th>
                                <th width="10%" style="text-align: right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
			   {% for i in imgs %} 
                           <tr>
                                <td>{{ i.name }}</td>
                                <td>{{ i.description }}</td>
				{% if i.is_public == True %}
                                <td style="text-align: center"><input type="checkbox" data-sort="1" checked></td>
                                {% else %}
                                <td style="text-align: center"><input type="checkbox" data-sort="1"></td>
				{% endif %}
				<td>
				    {% if i.owner == owner %}
                                    <form action="{% url 'image_delete' %}" method="POST" class="pull-right" role="form">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{ i.img_id }}"></input>
					<button class="btn btn-sm btn-danger" type="submit" name="" title="Delete this image" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </form>
				    {% endif %}
                                </td>
                            </tr>
			    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
$(function() {
    $('[data-toggle="tooltip"]').tooltip();

    // http://josephmisiti.github.io/sorting-booleans-in-jquery-datatables/
    $.fn.dataTableExt.oSort['checked-in-asc'] = function(a,b) {
        var a_sort = parseInt($(a).data("sort"));
        var b_sort = parseInt($(b).data("sort"));
        return ((a_sort < b_sort) ? -1 : ((a_sort > b_sort) ? 1 : 0));
    };
    $.fn.dataTableExt.oSort['checked-in-desc'] = function(a,b) {
        var a_sort = parseInt($(a).data("sort"));
        var b_sort = parseInt($(b).data("sort"));
        return ((a_sort < b_sort) ? 1 : ((a_sort > b_sort) ? -1 : 0));
    };

    $('.table-smart').dataTable({
        aoColumns: [
            null,
            null,
            { "sType": "checked-in" }
        ],
        columnDefs: [{
            aTargets:    [ 3 ],
            bSearchable: false,
            bSortable:   false
        }]
    });
    var x = readCookie('share');
    var y = readCookie('public');
    if (x) {
	if(y) {
		document.getElementById("modal-create-image_public").checked = true;
	}
	else {
		document.getElementById("modal-create-image_public").checked = false;	
	}
	document.getElementById('modal-create-image_ct-name').value = x;
	document.getElementById("modal-create-image_button").click();
	eraseCookie('share');
	eraseCookie('public');
    }
});

function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	}
	return null;
}
function createCookie(name,value,days) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
	}
	else var expires = "";
	document.cookie = name+"="+value+expires+"; path=/";
}
function eraseCookie(name) {
    createCookie(name,"",-1);
}
</script>
{% endblock %}

