{% extends "wui/base.html" %}

{% load staticfiles %}

{% block title %} - Shares{% endblock %}

{% block external_css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Shares</h1>
        <form role="form">
            <button type="button" class="btn btn-primary btn-create pull-right" data-toggle="modal" data-target="#modal-create-share">Create new</button>
        </form>

        <!-- modal -->
        <div class="modal fade" id="modal-create-share" tabindex="-1" role="dialog" aria-labelledby="modal-create-share" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">New shared folder</h4>
                    </div>
                    <form role="form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="modal-name">Name</label>
                                <input type="text" class="form-control" id="modal-name" placeholder="e.g fhnw-maths " required>
                            </div>
                            <div class="form-group">
                                <label for="modal-description">Description</label>
                                <textarea class="form-control" rows="3" placeholder="..."></textarea>
                            </div>
                            <div class="form-group">
                                Input Feld, wo nach Eingabe der User ausgewählt werden kann und zur Liste (unten) hinzugefügt wird
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end modal -->

        <div class="row shares-table">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-smart" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="20%">Name</th>
                                <th width="30%">Description</th>
                                <th width="15%">Membership</th>
                                <th width="20%">Members</th>
                                <th width="15%" style="text-align: right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--
                            foreach share in shares
                            membership label if owner
                            -->
                            <tr>
                                <td>fhnw-maths</td>
                                <td>Description text goes here.</td>
                                <td><span class="label label-info">Owner</span></td>
                                <td>
                                    <ul class="list">
                                        <li>Martin Melchior</li>
                                        <li>Michael Graber</li>
                                        <li>Florian Aschwanden</li>
                                        <li>Michel Käser</li>
                                    </ul>
                                </td>
                                <td>
                                    <form class="pull-right" role="form">
                                        <button class="btn btn-sm btn-default" type="submit" name="" title="Add new member" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                        <button class="btn btn-sm btn-default" type="submit" name="" title="Manage members" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </button>
                                        <button class="btn btn-sm btn-warning" type="submit" name="" title="Leave this share" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger" type="submit" name="" title="Delete this share" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td>fhnw-physics</td>
                                <td>Description text goes here.</td>
                                <td><span class="label label-info">Owner</span></td>
                                <td>
                                    <ul class="list">
                                        <li>Martin Melchior</li>
                                        <li>Florian Aschwanden</li>
                                        <li>Michel Käser</li>
                                        <li>Michael Graber</li>
                                    </ul>
                                </td>
                                <td>
                                    <form class="pull-right" role="form">
                                        <button class="btn btn-sm btn-default" type="submit" name="" title="Add new member" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                        <button class="btn btn-sm btn-default" type="submit" name="" title="Manage members" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </button>
                                        <button class="btn btn-sm btn-warning" type="submit" name="" title="Leave this share" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger" type="submit" name="" title="Delete this share" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td>fhnw-cpp</td>
                                <td>Description text goes here.</td>
                                <td>Member</td>
                                <td>
                                    <ul class="list">
                                        <li>Florian Aschwanden</li>
                                        <li>Martin Melchior</li>
                                        <li>Michael Graber</li>
                                        <li>Michel Käser</li>
                                    </ul>
                                </td>
                                <td>
                                    <form class="pull-right" role="form">
                                        <button class="btn btn-sm btn-default" type="submit" name="" title="Add new member" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </button>
                                        <button class="btn btn-sm btn-default" type="submit" name="" title="Manage members" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </button>
                                        <button class="btn btn-sm btn-warning" type="submit" name="" title="Leave this share" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-minus"></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger" type="submit" name="" title="Delete this share" data-toggle="tooltip" data-placement="top">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h2>Pending invitations</h2>
        <div class="table-responsive">
            <table class="table table-hover table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="20%">Name</th>
                        <th width="45%">Description</th>
                        <th width="20%">Members</th>
                        <th width="15%" style="text-align: right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>fhnw-cpp</td>
                        <td>C++ course share for FHNW employees.</td>
                        <td>
                            <ul class="list">
                                <li>Christoph Stamm</li>
                            </ul>
                        </td>
                        <td>
                            <form class="pull-right" role="form">
                            <button class="btn btn-sm btn-success" type="submit" name="" title="Accept" data-toggle="tooltip" data-placement="top">
                                <i class="glyphicon glyphicon-ok"></i>
                            </button>
                                <button class="btn btn-sm btn-danger" type="submit" name="" title="Reject" data-toggle="tooltip" data-placement="top">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
$(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $('.table-smart').dataTable({
        columnDefs: [{
            aTargets:    [ 4 ],
            bSearchable: false,
            bSortable:   false
        }]
    });
});
</script>
{% endblock %}
